<a href="https://colab.research.google.com/github/rselent/this_was_a_test/blob/master/build2_Asteroids_predicting_PHAs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# I don't know how replicable this is per user, but for now this should let me
# access my CSV, which is stored on Google Drive instead of github due to size
# (currently >100mb, maybe less after it's cleaned)

# If I perchance get it under 100mb, I'll migrate it over to github, but that
# won't be a primary (nor secondary) objective

from google.colab import drive
drive.mount( '/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [48]:
import pandas as pd

# New dataset, self-generated from JPL Small-Body Database Search Engine, 1/6/2020, 5:10pm
df = pd.read_csv( 'drive/My Drive/Colab Notebooks/Lambda School DS/Unit 2/Build Data/Asteroids_2020.csv', low_memory= False)
# Original dataset, found on Kaggle, generated from same source (JPL) but by a 3rd party, unknown date
df_old = pd.read_csv( 'drive/My Drive/Colab Notebooks/Lambda School DS/Unit 2/Build Data/Asteroid.csv', low_memory= False)

# df_old will be deprecated by week's end to reduce end filesize, but keeping for now (along with appropriate notations) to show process
df_old.shape, df.shape

((839714, 31), (921901, 34))

In [54]:
# I pulled the same datapoints / features from the original set, changed 1 (name -> full_name), and added 3 more:
# pdes - primary designation (more complete name list, presumably/just-in-case),
# and H_sigma and diameter_sigma - 1-sigma uncertainty values
# It seems ~80k more objects had been identified since the Kaggle set was generated and mine :o

df.head(20)

            full_name pdes         a  ...         n          per          ma
0             1 Ceres    1  2.769165  ...  0.213885  1683.145708   77.372096
1            2 Pallas    2  2.772466  ...  0.213503  1686.155999   59.699133
2              3 Juno    3  2.669150  ...  0.226019  1592.787286   34.925016
3             4 Vesta    4  2.361418  ...  0.271609  1325.432765   95.861936
4           5 Astraea    5  2.574249  ...  0.238632  1508.600458  282.366289
5              6 Hebe    6  2.425160  ...  0.260972  1379.459705   86.197923
6              7 Iris    7  2.385334  ...  0.267535  1345.619196  140.419656
7             8 Flora    8  2.201764  ...  0.301681  1193.313717  194.882895
8             9 Metis    9  2.385637  ...  0.267484  1345.875362  276.861623
9           10 Hygiea   10  3.141539  ...  0.177007  2033.818281  152.184851
10      11 Parthenope   11  2.453109  ...  0.256524  1403.375193  278.930692
11        12 Victoria   12  2.334315  ...  0.276353  1302.679690  133.335891
12          13 Egeria   13  2.575981  ...  0.238391  1510.123380  187.488522
13           14 Irene   14  2.585567  ...  0.237067  1518.560846  164.935852
14         15 Eunomia   15  2.644100  ...  0.229238  1570.418184  283.387705
15          16 Psyche   16  2.923814  ...  0.197142  1826.093319  288.335893
16          17 Thetis   17  2.470354  ...  0.253843  1418.199204  303.364363
17       18 Melpomene   18  2.296654  ...  0.283179  1271.281262  267.254381
18         19 Fortuna   19  2.442711  ...  0.258164  1394.461340  197.338626
19        20 Massalia   20  2.409782  ...  0.263474  1366.359575  117.695129

[20 rows x 34 columns]

In [55]:
df.isnull().sum()

full_name              0
pdes                   0
a                      0
e                      0
i                      0
om                     0
w                      0
q                      0
ad                     5
per_y                  1
data_arc           38811
condition_code       901
n_obs_used             0
H                   2323
H_sigma           734362
neo                    5
pha                39715
diameter          784793
diameter_sigma    784921
extent            921883
albedo            785978
rot_per           903105
GM                921887
BV                920880
UB                920922
IR                921900
spec_B            920235
spec_T            920921
G                 921782
moid               39715
class                  0
n                      0
per                    5
ma                     1
dtype: int64

In [0]:
df1 = df.drop( columns= {'full_name', 'pdes', 'data_arc', 'H_sigma', 'diameter',
                         'diameter_sigma', 'extent', 'albedo', 'rot_per',
                         'GM', 'BV', 'UB', 'IR', 'spec_B', 'spec_T', 'G'})

In [0]:
# Sigma features, while showing interesting/more precise data (or just precision
# metrics?), do not seem to be worth pursuing re: my objective. There are too many
# missing values in 'H_sigma', for example. 
# The delta between 'diameter' and 'diameter_sigma' is not all that large, however,
# so that could be an interesting secondary or perhaps tertiary objective.

# That said, right off the bat I will be dropping all features with more than 50%
# nan values, as not only is that just straight prohibitive to making any sort of 
# predictions of value, they also, coincidentally, happen to be the most 
# inconsequential features of the dataset (for my needs, and from my knowledge)

In [65]:
df1.shape

(921901, 18)

In [66]:
df1.head()

          a         e          i  ...         n          per          ma
0  2.769165  0.076009  10.594067  ...  0.213885  1683.145708   77.372096
1  2.772466  0.230337  34.836234  ...  0.213503  1686.155999   59.699133
2  2.669150  0.256942  12.988918  ...  0.226019  1592.787286   34.925016
3  2.361418  0.088721   7.141771  ...  0.271609  1325.432765   95.861936
4  2.574249  0.191095   5.366988  ...  0.238632  1508.600458  282.366289

[5 rows x 18 columns]

In [67]:
df1.isnull().sum()

a                     0
e                     0
i                     0
om                    0
w                     0
q                     0
ad                    5
per_y                 1
condition_code      901
n_obs_used            0
H                  2323
neo                   5
pha               39715
moid              39715
class                 0
n                     0
per                   5
ma                    1
dtype: int64

In [0]:
# TODO: Everything?

# TODO2: Do 'pha' and 'moid' share the same Nans? <investigate>

# TODO3: Maybe split those observations, make them an ultimate test/prediction case? Or at least part of? Will that work?

# TODO4: I don't want to impute any of these Nan values; is there an algorithm/model that can accommodate? LightGBM? CatBoost?

# TODO5: <todo>